<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>files</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            font-family: "Press Start 2P", serif;
        }
    </style>
</head>
<body>
<header>
    <h1>Файлы</h1>
</header>
<main>
    <nav>
        <div class="upload">
           <button type="button" onclick="document.getElementById('uploadForm').style.display='block'">Добавить файлик</button>
            <div id="uploadForm" style="display:none">
                <form th:action="@{/files/add}" method="post">
                    <label for="name">Имя:</label>
                    <input type="text" id="name" name="fileName" required><br><br>
                    <label for="type">Тип:</label>
                    <input type="text" id="type" name="fileType" required><br><br>
                    <label for="size">Размер:</label>
                    <input type="text" id="size" name="fileSize" required><br><br>
                    <label for="dateCreated">Дата создания:</label>
                    <input type="text" id="dateCreated" name="fileCreationDate" required><br><br>
                    <label for="dateModified">Дата изменения:</label>
                    <input type="text" id="dateModified" name="fileEditionDate" required><br><br>
                    <button type="submit">Добавить файл</button>
                </form>
                <br>
            </div>
        </div>
    </nav>
    <section>
        <h2>Все файлы</h2>
        <table class="files_table">
            <thead>
            <tr>
                <th>ID  .</th>
                <th> File Name  .</th>
                <th> File Type  .</th>
                <th> Creation Date  .</th>
                <th> Edition Date  .</th>
                <th> File Size</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fileData : ${fileDataList}">
                <td th:text="${fileData.id}"></td>
                <td th:text="${fileData.fileName}"></td>
                <td th:text="${fileData.fileType}"></td>
                <td th:text="${fileData.fileCreationDate}"></td>
                <td th:text="${fileData.fileEditionDate}"></td>
                <td th:text="${fileData.fileSize}"></td>
                <td>
                    <a th:href="@{/delete/{id} (id =${fileData.getId()})}">DELETE</a>
                    <a th:href="@{/edit/{id} (id =${fileData.getId()})}">EDIT</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
